In [1]:
import pandas as pd

In [4]:
genome_list = pd.read_csv('/media/NAS/Synology_222/2_Research/03_cgMLST/Salmonella_enterica_web/make_db_genomes.csv')
mlst = pd.read_csv('/media/NAS/Central_Lab_Storage/NcbiASM/Salmonella_enterica/MLST.tsv', sep='\t', index_col=0)

In [5]:
mlst

                  ST  hemD  thrA  dnaN  sucA  purE  aroC  hisD
Key
GCA_001835085.1  871    30    28    26    87   141   145   268
GCA_001240105.1    2     2     5     1     1     1     1     1
GCA_002058795.1  435     3     6     2     2     2     2   124
GCA_003429465.1    1     1     5     1     1     1     1     1
GCA_001144345.1    1     1     5     1     1     1     1     1
...              ...   ...   ...   ...   ...   ...   ...   ...
GCA_003137355.1    2     2     5     1     1     1     1     1
GCA_000984715.1   85     8     8     4     9    27    45    44
GCA_001620835.1  319     8    16   107   117     2   118    51
GCA_001091785.1    1     1     5     1     1     1     1     1
GCA_001365875.1    2     2     5     1     1     1     1     1

[10327 rows x 8 columns]

In [7]:
genome_list = genome_list.merge(mlst, left_on='SourceSeq', right_index=True)

In [8]:
genome_list

,BioSample,SourceSeq,ST,hemD,thrA,dnaN,sucA,purE,aroC,hisD
0,SAMEA1705914,GCA_000195995.1,2,2,5,1,1,1,1,1
1,SAMN02604315,GCA_000006945.2,19,12,2,7,9,5,10,9
2,SAMN02604095,GCA_000007545.1,1,1,5,1,1,1,1,1
3,SAMN02603109,GCA_000008105.1,66,35,8,31,6,26,34,14
4,SAMEA1705941,GCA_000009505.1,11,3,11,2,6,6,5,7
...,...,...,...,...,...,...,...,...,...,...
710,SAMN11353131,GCA_006228345.1,358,35,22,110,19,2,5,122
711,SAMN08944422,GCA_005166225.1,23,16,4,11,15,12,13,15
712,SAMN06030204,GCA_004768645.1,33,6,12,5,7,5,2,7
713,SAMN02678532,GCA_005576575.1,138,55,4,41,58,34,11,42
714,SAMN02265272,GCA_005576595.1,138,55,4,41,58,34,11,42

In [9]:
genome_list.value_counts('ST')

ST
11      87
1       77
19      71
2       34
15      29
        ..
1356     1
1370     1
1384     1
1483     1
331      1
Length: 154, dtype: int64

In [11]:
from pathlib import Path

In [12]:
dirpath = Path('/media/NAS/Central_Lab_Storage/NcbiASM/Salmonella_enterica/Dereplication')
accs = set(i.stem for i in dirpath.iterdir())

In [16]:
mlst.filter(accs, axis=0).value_counts('ST')

ST
19      49
112     22
64      19
15      19
96      16
        ..
2440     1
2441     1
2452     1
2459     1
2        1
Length: 486, dtype: int64