In [1]:
import pandas as pd

In [10]:
filepath = "/media/NGS/Nanopore_1/mNGS/20210209_clBC/resfinder.tsv"
correct_resistance_genes = pd.read_csv(filepath, sep='\t', index_col=0)
correct_resistance_genes = correct_resistance_genes.apply(lambda x: x.dropna().str.cat(sep=', ').split(', '), axis=1).to_dict()

In [11]:
filepath = "/media/NGS/Nanopore_1/mNGS/20210209_clBC/time_filt/resfinder.tsv"
time_filter_resistance_genes = pd.read_csv(filepath, sep='\t', index_col=0)
time_filter_resistance_genes = time_filter_resistance_genes.apply(lambda x: x.dropna().str.cat(sep=', ').split(', '), axis=1).to_dict()

In [19]:
data = []
for sample, genes in time_filter_resistance_genes.items():
    sample_name, time = sample.split('_')
    overlap = set(correct_resistance_genes[sample_name]) & set(genes)
    data.append((sample_name, len(overlap), len(set(correct_resistance_genes[sample_name])), time.replace('h', '')))

In [20]:
df = pd.DataFrame(data, columns=['sample', 'match', 'total', 'hour'])
df

       sample  match  total hour
0   barcode01      0     38    2
1   barcode01     24     38    4
2   barcode01     27     38    6
3   barcode01     31     38    8
4   barcode02     10     34    4
5   barcode02     23     34    6
6   barcode02     26     34    8
7   barcode03      1      3    4
8   barcode03      1      3    6
9   barcode03      3      3    8
10  barcode04      1      5    2
11  barcode04      5      5    4
12  barcode04      3      5    6
13  barcode04      3      5    8
14  barcode05      0     15    2
15  barcode05      0     15    4
16  barcode05     15     15    6
17  barcode05     15     15    8
18  barcode06      1     15    2
19  barcode06      5     15    4
20  barcode06      9     15    6
21  barcode06      7     15    8

In [21]:
df.to_csv('/media/NGS/Nanopore_1/mNGS/20210209_clBC/time_filt.tsv', sep='\t', index=False)

In [6]:
filepath = "/media/NGS/Nanopore_1/mNGS/20210309_clBC_9sample/resfinder.tsv"
correct_resistance_genes = pd.read_csv(filepath, sep='\t', index_col=0)
correct_resistance_genes = correct_resistance_genes.apply(lambda x: x.dropna().str.cat(sep=', ').split(', '), axis=1).to_dict()

In [7]:
filepath = "/media/NGS/Nanopore_1/mNGS/20210309_clBC_9sample/host_and_time_filt/resfinder.tsv"
host_filter_resistance_genes = pd.read_csv(filepath, sep='\t', index_col=0)
host_filter_resistance_genes = host_filter_resistance_genes.apply(lambda x: x.dropna().str.cat(sep=', ').split(', '), axis=1).to_dict()

In [8]:
data = []
for sample, genes in host_filter_resistance_genes.items():
    sample_name, time = sample.split('_')
    overlap = set(correct_resistance_genes[sample_name]) & set(genes)
    data.append((sample, len(overlap), len(set(correct_resistance_genes[sample_name]))))

In [9]:
df = pd.DataFrame(data, columns=['sample', 'match', 'total'])
df

          sample  match  total
0   barcode01_2h      2     10
1   barcode01_4h      6     10
2   barcode01_6h     10     10
3   barcode01_8h     10     10
4   barcode05_2h      2      3
5   barcode05_4h      3      3
6   barcode05_6h      3      3
7   barcode05_8h      3      3
8   barcode09_2h      1     12
9   barcode09_4h      3     12
10  barcode09_6h     10     12
11  barcode09_8h     12     12
12  barcode11_2h      2      2
13  barcode11_4h      2      2
14  barcode11_6h      2      2
15  barcode11_8h      2      2