In [2]:
from pathlib import Path
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
basedir = Path('/media/GenomicResearch/Issue/20210909_estimate_nanopore_depth/amplification/20211028_R18-1656H')

ref_res = pd.read_csv(basedir/'resfinder-ref'/'ResFinder_results_tab.txt', sep='\t')
ref_point = pd.read_csv(basedir/'resfinder-ref'/'PointFinder_results.txt', sep='\t')

In [4]:
ref_genes = set(ref_res['Resistance gene'].drop_duplicates()) | set(ref_point['Mutation'])
print(len(ref_genes))

17

In [16]:
data = []
for dirpath in (basedir/'resfinder').iterdir():
    res = pd.read_csv(dirpath/'ResFinder_results_tab.txt', sep='\t')
    point = pd.read_csv(dirpath/'PointFinder_results.txt', sep='\t')
    genes = set(res['Resistance gene'].drop_duplicates()) | set(point['Mutation'])
    recalled = len(ref_genes & genes)
    data.append((dirpath.name, recalled))

df = pd.DataFrame(data, columns=['sample', 'recalled'])
df['depth'], df['repeat'] = df['sample'].str.split('-').str

/home/chen1i6c04/miniconda3/envs/notebook/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  # Remove the CWD from sys.path while we load stuff.

In [17]:
df = df.pivot('depth', 'repeat', 'recalled')
df.index = df.index.str.strip('0')
df['Depth'] = df.index.str.replace('x', '').astype(int)
df = df.sort_values('Depth').drop('Depth', axis=1)
df

repeat   1   2   3   4   5
depth
10x     11  12   9  12  13
20x     15  17  15  13  15
30x     17  17  17  16  17
40x     17  17  17  17  17
50x     14  17  17  17  16
60x     17  13  17  16  17
70x     17  17  17  17  17
80x     17  17  17  17  17
90x     17  17  17  17  17
100x    17  17  17  17  13

In [18]:
df.to_csv(basedir/'ResFinder_Recalled.tsv', sep='\t')

In [19]:
basedir = Path('/media/GenomicResearch/Issue/20210909_estimate_nanopore_depth/amplification/20211028_R18-1656H')

In [20]:
ref_res = pd.read_csv(basedir/'reference.txt', sep='\t')
ref_genes = set(ref_res['Gene symbol'].drop_duplicates())
print(len(ref_genes))

15

In [23]:
data = []
for file in (basedir/'amrfinder').iterdir():
    result = pd.read_csv(file, sep='\t')
    genes = set(result[result['Element type'] == 'AMR']['Gene symbol'].drop_duplicates())
    recalled = len(ref_genes & genes)
    data.append((file.stem, recalled))

df = pd.DataFrame(data, columns=['sample', 'recalled'])
df['depth'], df['repeat'] = df['sample'].str.split('-').str

/home/chen1i6c04/miniconda3/envs/notebook/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  if __name__ == '__main__':

In [24]:
df = df.pivot('depth', 'repeat', 'recalled')
df.index = df.index.str.strip('0')
df['Depth'] = df.index.str.replace('x', '').astype(int)
df = df.sort_values('Depth').drop('Depth', axis=1)
df

repeat   1   2   3   4   5
depth
10x      7   4   4   5   5
20x     10  15  10  10  10
30x     14  15  14  14  14
40x     14  15  15  15  14
50x     12  15  15  15  13
60x     15  10  15  14  15
70x     15  15  14  15  15
80x     14  15  15  15  15
90x     15  15  15  15  15
100x    15  15  15  15  10

In [25]:
df.to_csv(basedir/'AmrFinder_Recalled.tsv', sep='\t')