In [8]:
from pathlib import Path
import pandas as pd

In [2]:
pan_genome_info  = pd.read_csv('../../cgMLST_DB/Neisseria_meningitidis/reference_locus_metadata.csv')

In [4]:
core_genome_info = pan_genome_info[pan_genome_info['occurrence']>=95]

In [5]:
core_genome_info = core_genome_info.sort_values('occurrence', ascending=False)

In [18]:
rename_map = {locus_id :f'nm{idx:04d}' for idx, locus_id in enumerate(core_genome_info['locus_id'], 1)}

In [11]:
import sys
sys.path.append('../../src')

from tree import to_bns

In [9]:
dirpath = Path('/media/NGS/Data_Analysis/20191128_CDC_MiSeq/Neisseria_meningitidis/Profile')

In [19]:
profiles = pd.concat([pd.read_csv(i, sep='\t', index_col=0, header=0, names=[i.stem]) for i in dirpath.iterdir()], axis=1)

In [20]:
profiles = to_bns(profiles)

In [21]:
profiles = profiles.rename(rename_map, axis=1)

In [22]:
profiles.head()

,Key,nm0925,nm1185,nm0307,nm1135,nm0836,nm0261,nm0227,nm0081,nm0224,...,nm1197,nm1211,nm1149,nm1122,nm1202,nm0766,nm1184,nm1147,nm1229,nm1176
0,R17.2522,11,12,11,3,13,4,14,15,17,...,0,0,0,0,0,0,0,0,0,0
1,R18.2608,12,11,17,3,8,1,8,15,17,...,29,7,0,0,0,0,0,0,0,0
2,R18.2587,15,12,26,1,1,4,19,2,14,...,26,17,12,5,5,16,12,9,6,9
3,R18.2523,30,6,29,3,16,3,13,17,27,...,25,22,8,21,2,19,2,9,5,8
4,R18.2578,21,3,10,0,16,3,18,8,24,...,13,20,9,5,2,3,14,2,5,11

In [23]:
profiles.to_csv('to_bns.tsv', sep='\t', index=0)